---
layout: default
---

{% for section in site.sections %}
  <a name='{{section[0]}}'></a>
  <section class='{% cycle 'light', 'dark' %}' data-anchor='{{section[0]}}'>
    <h1>{{section[1].header}}</h1>
    {% if section[1].image %}
      <div class='outer-container'>
        <aside class='section-image'>
          <img src='/images/{{section[1].image}}' />
        </aside>
        <aside class='section-content'>
          {% for paragraph in section[1].paragraphs %}
            <div class='paragraph-content'>{{paragraph}}</div>
            <br />
          {% endfor %}
        </aside>
      </div>
    {% else %}
      {% for paragraph in section[1].paragraphs %}
        <p>{{paragraph}}</p>
      {% endfor %}
    {% endif %}
    {% for quote in section[1].quotes %}
      <blockquote>
        “{{quote.quote}}”
        <footer>
          <strong>{{quote.author}}</strong>, {{quote.author_description}}
        </footer>
      </blockquote>
    {% endfor %}
    {% if section[1].coming_soon_text %}
      <center><h2><em>{{section[1].coming_soon_text}}</em></h2></center>
    {% endif %}
  </section>
{% endfor %}
